%h1 Magic Dust
%h2 Keep it clean

-if current_user
  Welcome
  = current_user.name
  = link_to "Sign Out", signout_path
-else
  = link_to "Sign in with Twitter", "/auth/developer"

=link_to "Please Clean My House", new_job_path
=link_to "Admin", admin_dashboard_path

